<footer class="footer_section pt-5">
    <div class="container-fluid inner_section pt-5 position-relative ">
        <div class="container sub_fluid position-relative">
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer_box card border-0 shadow rounded-4 bg-dark">
                        <div class="card-body py-5">
                            <div class="footerlogo text-center mb-3"><img src="assets/img/header/logo.png" alt=""></div>
                            <p class="text-secondary fs-14">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, odio.</p>
                            <ul class="linksfooter list-unstyled p-0">
                                <li class="d-flex align-items-start mb-2 gap-2"><div class="iconImg d-inline-block"><img src="assets/img/icon/location.svg" alt="" class="w-100"></div><a href="javascript:;" class="text-decoration-none text-white fs-14 d-block">123 Anywhere Street,Somewhere.</a></li>
                                <li class="d-flex align-items-start mb-2 gap-2"><div class="iconImg d-inline-block"><img src="assets/img/icon/email.svg" alt="" class="w-100"></div><a href="mailto: mirasat@gmail.com" class="text-decoration-none text-white fs-14 d-block"><strong>Email: </strong>mirasat@gmail.com</a></li>
                                <li class="d-flex align-items-start mb-2 gap-2"><div class="iconImg d-inline-block"><img src="assets/img/icon/calling.svg" alt="" class="w-100"></div><a href="tel: +180012001500" class="text-decoration-none text-white fs-14 d-block">+1800 1200 1500</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer_box">
                        <h2 class="box_head inner_heading text-white fw-bold mb-3 fs-20">Quick <span class="text-theme1">Links</span></h2>
                        <ul class="links_footer list-unstyled p-0">
                            <li><a href="about.html" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>About Us</a></li>
                            <li><a href="services.html" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>Services</a></li>
                            <li><a href="packages.html" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>Packages</a></li>
                            <li><a href="blog.html" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>Blog</a></li>
                            <li><a href="contacts.html" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>Contacts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer_box">
                        <h2 class="box_head inner_heading text-white fw-bold mb-3 fs-20">Useful <span class="text-theme1">Links</span></h2>
                        <ul class="links_footer list-unstyled p-0">
                            <li><a href="javascript:;" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>Privacy Policy</a></li>
                            <li><a href="javascript:;" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>Terms &amp; Conditions</a></li>
                            <li><a href="javascript:;" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>Disclaimer</a></li>
                            <li><a href="javascript:;" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>Support</a></li>
                            <li><a href="javascript:;" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer_box">
                        <h2 class="box_head inner_heading text-white fw-bold mb-3 fs-20">News <span class="text-theme1">letter</span></h2>
                        <div class="social_icon">
                            <ul class="socillinkfooter list-unstyled p-0 d-flex align-items-center gap-3">
                                <li><a href="https://www.facebook.com/" class="text-decoration-none text-white mb-1 p-2 bg-white text-theme1 d-flex align-items-center justify-content-center"><img src="assets/img/icon/fb.svg" alt="" class="w-100 h-100"></a></li>
                                <li><a href="https://twitter.com/" class="text-decoration-none text-white mb-1 p-2 bg-white text-theme1 d-flex align-items-center justify-content-center"><img src="assets/img/icon/twitter.svg" alt="" class="w-100 h-100"></a></li>
                                <li><a href="https://www.instagram.com/" class="text-decoration-none text-white mb-1 p-2 bg-white text-theme1 d-flex align-items-center justify-content-center"><img src="assets/img/icon/instagram.svg" alt="" class="w-100 h-100"></a></li>
                                <li><a href="https://www.linkedin.com/" class="text-decoration-none text-white mb-1 p-2 bg-white text-theme1 d-flex align-items-center justify-content-center"><img src="assets/img/icon/linkedin.svg" alt="" class="w-100 h-100"></a></li>
                            </ul>
                        </div>
                        <div class="subscribeinput">
                            <input type="email" class="form-control shadow-none border-0 rounded-0 text-white fs-16 fw-normal bg-transparent">
                            <div class="mt-4"><a href="javascript:;" class="download_btn main_btn more_btn text-theme2 text-decoration-none">Subscribe</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-4 mt-5 gap-2 copyright">
                <div class="fs-12 text-secondary col text-sm-start text-center">Broadband & Internet Service Provider</div>
                <div class="fs-12 text-secondary col-sm-auto text-sm-end text-center">Copyright © 2023 All rights reserved.</div>
            </div>
        </div>
    </div>
</footer>