.buttoncustom{
    font-size: 16px;
    color: #fff;
    background-color: #000;
    border-radius: 17px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: $theme1;
        color: black;
    }
    &:focus{
        outline: none;
        border: 0;
    }
    &:active{
        color: none;
        border: 0;
        background-color: none;
    }
}
.loginBtn {
    font-size: 14px;
}
.otpBtn{
    border-radius: 0 4px 4px 0 !important;
    z-index: 6 !important;
}
.bgiBtn1{
    // &:after {
    //     content: '';
    //     display: block;
    //     width: 150px;
    //     height: 100%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    // }
}
@media (max-width: 575.98px) {
    
.loginBtn {
    font-size: 12px;
}
}