footer {
    &.footer {
        background-image: linear-gradient(45deg, rgb(0 0 0 / 59%), rgb(0 0 0 / 40%)), url(../img/footer/back.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    & .columnfirst {
        & .list1 {
            & li{
                & a{
                    font-size: 14px;
                    font-weight: 500;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        color: #efa834 !important;
                    }
                }
            }
        }
        & .iconlist{
            & li{
                & a{
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #000;
                    margin: 0 5px;
                    border-radius: 50%;
                    & img{
                        width: 60%;
                    }
                }
            }
        }
    }
    & .appiconsection{
        & li{
            & a{
                width: 100px;
                height: 90px;
                & img{

                }
            }
        }
    }
}

@media only screen and (max-width: 1199.99px) {}