@charset "UTF-8";

.login {
    height: calc(100% - 130px);

    & .chekboxcol {
        font-size: 14px;
        text-align: justify;

        & a {
            color: #f0a834;
            text-decoration: none;
        }

        & .form-check-input:checked {
            background-color: #f0a834;
            border-color: #f0a834;
        }
    }

    & .signinbtn {
        width: 100%;
        border-radius: 15px;
        background-color: #f5a629;
        color: $theme2;

        &:hover {
            background-color: #f0a834;
        }
    }

    & .textfooter {
        font-size: 15px;

    }

    .hedtext {
        font-size: 22px;
        font-weight: 900;
    }

    & .subheading {
        font-size: 26px;
        font-weight: 800;
    }

    & .textp {
        font-size: 15px;
    }

    & .optsection {
        & .inputs {
            & .formotp {
                width: 40px;
                height: 40px;
                border-color: $theme1;
                box-shadow: none;
                aspect-ratio: 2/2;

                &:focus-visible {
                    color: $theme1;
                    border-color: $theme1;
                    outline: none;
                }
            }
        }

        & .recendtext {
            font-size: 14px;
            font-weight: 500;
            color: $theme2;
        }

        & .or-border {
            border-bottom: 1px solid $theme1;

            & span {
                background: #fefefe;
                padding: 1px 6px 5px 5px;
                border-radius: 25px;
                font-size: 14px;
                position: absolute;
                top: -10px;
                display: flex;
                align-items: center;
                right: 45%;
            }
        }
    }

    & .recendtext {
        font-size: 14px;
        font-weight: 500;
        color: $theme2;
        background: none;
    }

    & .textresend {
        font-size: 14px;
        font-weight: 500;
    }

}

@media only screen and (max-width: 767.99px) {}

@media only screen and (max-width: 575.99px) {
    .login {
        & .chekboxcol {
            font-size: 14px;
            text-align: justify;

            & a {
                color: #f0a834;
            }

            & .form-check-input:checked {
                background-color: #f0a834;
                border-color: #f0a834;
            }

            & .textleb {
                font-size: 12px;
            }
        }

        & .signinbtn {
            width: 100%;
            border-radius: 15px;
            background-color: #f5a629;
            color: $theme2;

            &:hover {
                background-color: #f0a834;
            }
        }

        & .textfooter {
            font-size: 15px;

        }

        .hedtext {
            font-size: 18px;
            font-weight: 900;
        }

        & .subheading {
            font-size: 22px;
            font-weight: 800;
        }

        & .textp {
            font-size: 12px;
        }
        .leftsidesection {
            // padding: 0px 70px;
            // margin: 0px 70px;
        }
        & .recendtext {
            font-size: 14px;
            font-weight: 500;
            color: $theme2;
            background: none;
        }
    
        & .textresend {
            font-size: 14px;
            font-weight: 500;
        }
    }
}
