.navbar {
    z-index: 100;
    & .navbar-brand {
        height: 45px;
    }
    .icone_list {
        cursor: pointer;
        // filter: invert(1);
        transition: all ease-in-out 0.3s;
        width: 28px;

    }
    & .navbar-nav {
        & .nav-item {
            & .nav-link {
                transition: all ease-in-out .3s;
                // &::after{
                //     content: "•" !important;
                //     display: inline-block;
                //     position: absolute;
                //     margin: -5px 0 0 5px !important;
                //     font-size: 22px;
                //     transition: -webkit-transform .5s,-moz-transform .5s,-o-transform .5s,transform .5s;
                //     color: $theme2;
                // }
                // &::before{
                //     content: "";
                //     width: 0px;
                //     height: 2px;
                //     background: $theme1;
                //     position: absolute;
                //     bottom: 5px;
                //     left: 5px;
                //     transition: all ease-in-out .3s;
                // }
                // &:hover {
                //     color: $theme1 !important;
                //     &::before{
                //         width: 100%;
                //         right: 0;
                //     }
                // }
                &.active{
                    color: $theme1 !important;
                    &::before{
                        width: 100%;
                    }
                }
            }
        }
    }

}

.userAcount {
    & .inneruser {
        & .user {
            transition: all ease-in-out .3s;
            & img {
                transition: all ease-in-out .3s;
                width: 22px;
            }
            &:hover{
                & img {
                    filter: brightness(1000);
                }
            }
        }
    }
}


.tag_title {
    letter-spacing: 0.1rem;
}

.offcanvas {
    & .offcanvas-header {
        & .offcanvas-title {
            height: 40px;
        }
        & .closeBtn {
            width: 20px;
        }
    }
}

.tag_list {
    & li {
        transition: all 0.3s;
        & a {
            transition: all 0.3s;
            position: relative;
            &::before {
                content: "";
                opacity: 0;
                left: -20px;
                top: 10px;
                width: 15px;
                height: 2px;
                background-color: $theme2;
                position: absolute;
                transition: all 0.4s;
            }
        }
        &:hover {
            & a {
                &::before {
                    opacity: 1;
                }
                letter-spacing: 0.3rem !important;
                color: $theme2 !important;
            }
        }
    }
}
.navbar{
    transition: all 0.3s ease-in-out;

}
.nav-active {
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 15%) !important;
    background:  rgba($black, 0.7) !important;
    transition: all 1s !important;
    transition: all 0.3s ease-in-out;
    & .icone_list {
        & img {
            filter: brightness(100);
        }
    }

}

.always-nav-active {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247) !important;
    background:  rgba($black, 0.7) !important;
    transition: all 0.3s ease-in-out;

    & .navbar-brand{
        background-color: $white !important;
        color: $black !important;
    
        }
        // & .icone_list {
        //     cursor: pointer;
        //     filter: invert(1) !important;
        
        // }
}

