@charset "UTF-8";

.partnerWithUsmain{
    padding: 100px 0 40px;
    background-image:  linear-gradient(90deg, rgba($black, 0.8) 100%, rgba($black, 0.8) 100%), url(../img/partnerWithUsBg.jpg);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    & .mainInner {
        & .decriptionOuter {
            & .pageHeading {
                font-size: 20px;
            }
            & .txt {
                font-size: 14px;
                font-weight: 300;
                text-align: justify;
            }
            & .bottomList{
                & ul {
                    & li {
                        font-size: 14px;
                        font-weight: 300;
                        position: relative;
                        &:before {
                            content: '';
                            display: block;
                            width: 12px;
                            height: 14px;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-image: url(../img/icon/rightDubbleArrow.svg);
                        }

                    }
                }
            }
        }
        & .formOuter {
            top: 100px;
            & .loginOuter{
                & .loginHeader {
                }
                & form {
                    &.form {
                        & .input-group {
                            & .form-label {
                                font-size: 14px;
                            }
                            & .form-control {
                                font-size: 14px;
                                &::placeholder {
                                    color: $gray-400;
                                    font-weight: 300;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal{
    &.partnerLogin{
        & .modal-dialog{
            max-width: 430px !important;
            margin: auto;
            & .modal-content{
                & .modal-header{
                    & .modal-title{
                        font-size: 16px;
                        font-weight: bold;
                    }
                    & .btn-close{
                        font-size: 12px;
                        filter: invert(1);
                    }
                }
                & .modal-body {
                    & .formOuter {
                        & .loginOuter{
                            & .loginHeader {
                            }
                            & form {
                                &.form {
                                    & .input-group {
                                        & .form-label {
                                            font-size: 14px;
                                        }
                                        & .form-control {
                                            font-size: 14px;
                                            &::placeholder {
                                                color: $gray-400;
                                                font-weight: 300;
                                                font-size: 14px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// ********************Responsive****************
@media only screen and (max-width: 1400px) { 
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1100px) {
}
@media only screen and (max-width: 991.98px) {
}
@media only screen and (max-width: 767.98px) {
}
@media only screen and (max-width: 575.98px) {
    .partnerWithUsmain{
        & .mainInner {
            & .decriptionOuter {
                & .pageHeading {
                    font-size: 16px;
                }
                & .txt {
                    font-size: 12px;
                }
                & .bottomList{
                    & ul {
                        & li {
                            font-size: 12px;
                            &:before {
                                width: 10px;
                                height: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    .modal{
        &.partnerLogin{
            & .modal-dialog{
                & .modal-content{
                    & .modal-header{
                        & .modal-title{
                            font-size: 14px;
                        }
                        & .btn-close{
                        }
                    }
                    & .modal-body {
                        & .formOuter {
                            & .loginOuter{
                                & .loginHeader {
                                    font-size: 14px;
                                }
                                & form {
                                    &.form {
                                        & .input-group {
                                            & .form-label, & .form-control {
                                                font-size: 12px;
                                                &::placeholder {
                                                    font-size: 12px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 360px) {
}